name: sonar-release
# This workflow is triggered when publishing a new github release
on:
  release:
    types:
      - published

jobs:
  release:
    permissions:
      id-token: write
      contents: write
    uses: SonarSource/gh-action_release/.github/workflows/main.yaml@4a05ba99d2db61c5ab50467d169e905a746c2693 # 6.2.0
    with:
      publishToBinaries: true
      mavenCentralSync: true
      slackChannel: team-lang-cfamily
